<html>
<head>

</head>
<body>
  <!-- header section starts -->
  <!-- <header>
    <a href="#">CloudKitchen Web</a>

    <nav class="navbar">
      <a href="#home">Home</a>
      <a  href="#login">Login</a>
      <a href="#speciality">Speciality</a>
      <a href="#popular" >Popular</a>
      <a href="#gallary">Gallary</a>
      <a href="#review">Review</a>
      <a href="#order">Order</a>
    </nav>
  </header> -->
  <!-- header section ends -->
  <!-- home section starts -->
  <!-- <section class="home" id="home">
    <div class="content">
      <h3>Food made with love</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi excepturi illum fugiat aliquid possimus odit sunt soluta similique ullam. Quasi quis iusto odit voluptatem provident voluptas commodi, fuga beatae facilis.</p>
      <a href="#" class="btn">order now</a>
    </div>
    <div class="image">
      <img src="assets/barger.jpg" height="500" width="700">
    </div>
  </section> -->
  <!-- home section ends -->
  <!-- login section  -->
  <!-- <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
             <span class="h1 fw-bold mb-0">Logo</span> 
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form>
             <form #insert="ngForm" (ngSubmit)="insertData(insert)"> 
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h3>
  
              <div class="form-outline mb-4">
                <input type="email"  class="form-control form-control-lg" name="email" id="email" ngModel="email" />
                <label class="form-label" for="email">Email address</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password"  class="form-control form-control-lg" name="password" id="password" ngModel="password" />
                <label class="form-label" for="password">Password</label>
              </div>
  
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Login
              </button>
              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
              <p>Don't have an account? <a href="#!" class="link-info" routerLink="/registration" routerActive="active">Registration</a></p> 
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets/foodie-food-eating-party-celebration-260nw-428693071.webp"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section> -->
  <!-- speciality section starts -->
  <!-- <section class="speciality" id="speciality">
    <h1 class="heading">Our <span> speciality</span></h1>
    <div class="box-container">
    <div class="box">
      <img class="image" src="assets/tasty b.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/bg icon.jpg" height="60"  alt="">
        <h3>Tasty burger</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/pizza.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/p icon.jpg" height="80"  alt="">
        <h3>Tasty Pizza</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
  
    <div class="box">
      <img class="image" src="assets/icecream.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img3.jpg" height="80"  alt="">
        <h3>Cold Ice Cream</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/dks.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img4.png" height="80"  alt="">
        <h3>Cold Drinks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/sweets.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img5.png" height="80"  alt="">
        <h3>Sweets</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
    <div class="box">
      <img class="image" src="assets/bf5.jpg" height="400" width="500" alt="">
      <div class="content">
        <img src="assets/img6.jpg" height="80"  alt="">
        <h3>Healthy Breakfast</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, iste dolorem sint nobis maxime sapiente ut autem accusamus repudiandae labore nulla expedita consequuntur aliquid, repellendus neque ipsa ipsum ratione earum.</p>

      </div>
    </div>
    </div>
  </section> -->
  <!-- speciality section ends -->
  <!-- popular section starts -->
  <!-- <section class="popular"  id=" Popular">
    <h1 class="heading">Most <span>Popular</span>Food</h1>
    <div class="box-container">
      <div class="box">
        <span class="price">$5 - $20</span>
        <img src="assets/barger.jpg" height="400" width="500" alt="">
        <h1>Taste Burger</h1>
        <div class="stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
        <a href="#" class="btn">Order now</a>
        </div>
        <div class="box">
          <span class="price">$5 - $20</span>
          <img src="assets/pizza.jpg" height="400" width="500" alt="">
          <h1>Taste Pizza</h1>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>


            
          </div>
          <a href="#" class="btn">Order now</a>
          </div>
          <div class="box">
            <span class="price">$5 - $20</span>
            <img src="assets/icecream.jpg"  height="400" width="500" alt="">
            <h1>Cold Ice Cream</h1>
            <div class="stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <a href="#" class="btn">Order now</a>
            </div>
            <div class="box">
              <span class="price">$5 - $20</span>
              <img src="assets/dks.jpg" height="400" width="500" alt="">
              <h1>Cold Drinks</h1>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
              </div>
              <a href="#" class="btn">Order now</a>
              </div>
              <div class="box">
                <span class="price">$5 - $20</span>
                <img src="assets/sweets.jpg" height="400" width="500" alt="">
                <h1>Sweets</h1>
                <div class="stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <a href="#" class="btn">Order now</a>
                </div>
                <div class="box">
                  <span class="price">$5 - $20</span>
                  <img src="assets/bf5.jpg" height="400" width="500" alt="">
                  <h1>Healthy Breakfast</h1>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                   
                  </div>
                  <a href="#" class="btn">Order now</a>
                  </div>
        </div>
  </section> -->
  <!-- popular section ends -->
  <!-- steps section starts -->
  <section class="steps">
  <div class="box">
    <img src="assets/step1.jpg" height="200" alt="">
    <h3>Choose your favorite food</h3>

  </div>
  <div class="box">
    <img src="assets/step2.jpg" height="200" alt="">
    <h3>free and fast delivery</h3>

  </div>
  <div class="box">
    <img src="assets/step3.jpg"  height="200" alt="">
    <h3>easy payment method</h3>

  </div>
  <div class="box">
    <img src="assets/step4.jpg" height="200" alt="">
    <h3>and finally,enjoy your food</h3>

  </div>
  </section>
<!--- steps section ends -->
<!-- gallary section starts -->
<!-- <section class="gallary" id="gallary">
  <h1 class=" heading">Our Food <span>Gallary</span></h1>
      <div class="box-container">
      <div class="box">
    <img src="assets/img10.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>
      <a href="#" class="btn" >Order now</a>
    </div>
    
  </div>
  
  <div class="box">
    <img src="assets/img11.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>
      <a href="#" class="btn">Order now</a>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img12.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>
      <a href="#" class="btn">Order now</a>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img13.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>
      <a href="#" class="btn">Order now</a>  
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img14.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>   
      <a href="#" class="btn">Order now</a>
    </div>
  </div>
  
  <div class="box">
    <img src="assets/img15.jpg" alt="">
    <div class="content">
      <h3>Tasty Food</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur repellat quos vero nesciunt ratione illum. Atque beatae recusandae, aperiam eligendi et rem odit! Aspernatur, quia! Laborum sequi similique asperiores.</p>
      <a href="#" class="btn">Order now</a>
    </div> 
  </div>
  
  
  </div>
</section> -->
<!-- gallary section ends -->
<!-- review section starts -->
<!-- <section class="review" id="review">
  <h1 class="heading">Our Customers <span>Review</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="assets/img.jpg" alt="">
    <h3>John Deo</h3>
    <div class="stars">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate nulla reiciendis iste harum sunt nisi ab consectetur illum cumque blanditiis aperiam numquam optio, vitae quidem tempora nemo. Provident, facere!</p>
  </div>
  
    <div class="box">
      <img src="assets/img2.jpg" alt="">
    <h3>John Deo1</h3>
    <div class="stars">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate nulla reiciendis iste harum sunt nisi ab consectetur illum cumque blanditiis aperiam numquam optio, vitae quidem tempora nemo. Provident, facere!</p>
  </div>
  
    <div class="box">
      <img src="assets/img1.jpg" alt="">
    <h3>Johnson</h3>
    <div class="stars">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star"></i>
      <i class="bi bi-star"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate nulla reiciendis iste harum sunt nisi ab consectetur illum cumque blanditiis aperiam numquam optio, vitae quidem tempora nemo. Provident, facere!</p>
  </div>
  </div>
</section> -->
<!-- review section ends -->
<!-- order section starts -->
<section class="order" id="order">
  <h1 class="heading"><span>Order </span>now</h1>
  <div class="row">
    <div class="image">
      <img src="assets/imgq.jpg"  width="300" alt="">
      
    </div>
    <form action="">
      <div class="inputBox">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
      </div>
      <div class="inputBox">
        <input type="number" placeholder="number">
        <input type="text" placeholder="food name">
      </div>
      <textarea placeholder="address" name="" id="" cols="30" rows="10"></textarea>
      <input type="Submit" value="order now" class="btn">
       <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Ordered successfully!</h4>
       <p>your order will be reached in 5 minutes.</p>
        
        
      </div> 
    </form>
  </div>
</section>
<!-- orde section ends -->
<!-- footer section -->
<!-- <section class="footer">
  <div class="share">
   
    <a href="#" class="btn">instagram</a>
    <a href="#" class="btn">whatsapp</a>
    <a href="#" class="btn">google</a>
    <a href="#" class="btn">email</a>
  </div>
  <h3 class="credit">created by  <span> Mrs. P.Pranitha </span> All rights reserved!!1</h3>
</section> -->
